*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: black;
    
}
.container{
    border-radius: 30px;
    background-image: linear-gradient(rgb(245, 12, 50),rgb(250, 78, 106),rgb(252, 132, 152) );
    width: 400px;
    height:600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap:15px;
    /* box-shadow: -6px -6px 10px rgb(250, 72, 102); */


}
/* section 1 */
.nav{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 50px;
    font-family: Pristina;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
.circle{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(248, 46, 80);
    box-shadow: 3px 3px 10px rgb(34, 19, 19);
    

}
/* section 2 */
.thumnail{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: bold;
}

.image1{
    width:230px;
    height:230px;
    border-radius: 50%;
    border:4px solid rgb(255, 209, 217);
    box-shadow: 5px 3px 15px rgb(34, 19, 19);
    object-fit: cover;
}
#movieName{
    font-family: Segoe Print;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
}
.singer{
    font-family: Bradley Hand ITC;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;

}
/* section 3 */
.love{
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.circle2{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(245, 38, 73);
    box-shadow: 2px 2px 5px rgb(34, 19, 19);
    cursor: pointer;
    font-size: 13px;
    font-weight: bolder;
}
.loop{
    background-color: rgb(250, 23, 61);
    color:beige;
}
/* section 4 */
.range-div{
    width:100%;
    padding-left: 30px;
    padding-right: 30px;
    
}
.range{
    width:100%;
    -webkit-appearance: none;
    height: 5px;
    background: rgb(255, 160, 177);
    outline: none;
    border-radius: 3px;
    /* box-shadow: 1px 1px 6px rgb(160, 17, 136); */

    /* border: 1px solid black; */
    -webkit-transition: .2s;
    
}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-image:  radial-gradient(rgb(245, 12, 50),rgb(250, 114, 136),rgb(173, 6, 34) );
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgb(129, 15, 85);

}

.time{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    font-family: Pristina;
    font-size: 12px;
    font-weight: bold;
    margin-top: -3px;
}
/* section 5 */
.footer{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-left: 30px;
    padding-right: 30px;

}
.circle3{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(245, 38, 73);
    box-shadow: 3px 3px 8px rgb(34, 19, 19);
    cursor: pointer;


}

.icon{
    font-size: 25px;
    background-image:  linear-gradient(rgb(245, 12, 50),rgb(252, 132, 152),rgb(216, 17, 50) );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#audio{
    display: none;
}
/* //playlist */
.playList{
    border-radius: 30px;
    /* background-color: rgba(255, 255, 255, 0.014); */
    width: 400px;
    height:600px;
    opacity: 1;
    backdrop-filter: blur(10px);
    /* padding: 5px; */
    -moz-box-shadow: inset 2px 2px 20px rgb(226, 111, 130);
    -webkit-box-shadow: inset 2px 2px 20px rgb(170, 35, 57);
    box-shadow: inset 2px 2px 20px rgb(211, 39, 67);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    /* gap:2px; */
}
.list{
    /* background-image:  linear-gradient(rgb(179, 6, 35),rgb(231, 87, 111),rgb(241, 111, 133)); */
    border-radius: 20px;
    margin-top: 5px;
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;
    
}
#updiv{
    background-color: rgba(240, 49, 138, 0.24);
    /* background: #df77b3; */
    width: 100%;
    height:10%;
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
#favouriteList{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color:rgb(248, 46, 80);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(34, 19, 19);
}
#home{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color:rgb(248, 46, 80);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(34, 19, 19);
}
.close{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: seashell;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color:rgb(248, 46, 80);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(34, 19, 19);
}
#downdiv{
    background-color: rgba(255, 31, 143, 0.356);
    width: 100%;
    height:90%;
    border-radius: 0 0 30px 30px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* line-height: 20px; */
    gap: 5px;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background: #a1085400;
    border-radius: 5px;
    height: 450px;
    
}
::-webkit-scrollbar-thumb{
    background:#0000006c;
}
::-webkit-scrollbar-thumb:hover{
    background: #0703038f;
}
.song{
    width: 100%;
    height:90px;
    padding: 5px;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(231, 109, 129);
    align-items: center;
    border-radius: 30px 0 30px 0;
    padding-left: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* margin-bottom: -2px; */
}
.song:hover{
   box-shadow: 0 0 15px 2px #df77b3;
   background-color: rgba(0, 0, 0, 0.418);
   color: aliceblue;
}
.listImage{
    height:50px;
    
    width:50px;
    border-radius: 20px 0 20px 0;
    border:1px solid pink;
    object-fit: cover;
}
.title{
    font-size: 20px;
}
.songInfo{
    font-size: 10px;
    font-family: Segoe Print;
}
.singerInfo{
    font-family:Bradley Hand ITC;
    font-size: 10px; 
}
/*  for control element to control js */
.hidden{
    display: none;
}
